$mainBackground: #f2f2f2;
$addBtnColor: #4943CD;
$whiteColor: #FFFFFF;
$placeholderColor: #D9D9D9;
$fontColor: #2B2839;
$filtersBoxShadowClr: #b2b2b240;
$modalBg: #2b283933;
$cardHeaderBg: #ede8f580;
$switchBorderClr: #647A8C;
$tableBg: #e6e6e6;